
##########################################################
#### File: RattanavilayThip_1_2_Exercise_Working_with_Arrays<br>
#### Name: Thip Rattanavilay<br>
#### Date: 03/21/2021<br>
#### Course: DSC 550 1.2 Exercise: Working with Arrays<br>
##########################################################

## 1. Create an array of size [10,50] and use the random function to fill it with integers between 1 and 500 (inclusive). Load it to a DataFrame.

#### importing libraries

In [1]:
import numpy as np # np for short hand name for numpy
import pandas as pd # pd for short hand name for pandas

In [2]:
## Using numpy library to generate 500 random numbers into an array of size 10,50
nums = np.random.randint(1,501, size=(10, 50))

**Load it to a DataFrame.**

In [3]:
## Loading the array into a dataframe using pandas library. Column names will be 1-50
df = pd.DataFrame(nums, columns=np.arange(1,51))

## Ensuring index will start at 1
df.index = np.arange(1, len(df) + 1)
df

,1,2,3,4,5,6,7,8,9,10,...,41,42,43,44,45,46,47,48,49,50
1,162,360,366,477,477,150,284,125,84,29,...,164,113,337,404,207,381,75,139,303,63
2,243,474,190,156,176,150,31,11,487,460,...,436,309,459,76,415,498,239,266,3,368
3,496,54,429,189,378,442,323,428,431,321,...,476,30,478,382,308,279,97,41,427,441
4,413,49,134,174,121,459,58,334,432,40,...,162,12,330,391,162,329,347,425,438,290
5,266,240,72,479,71,336,214,208,260,187,...,234,182,398,1,58,215,281,432,261,189
6,404,164,183,130,159,121,348,24,147,266,...,1,314,251,4,214,138,327,6,304,20
7,50,378,316,196,60,406,346,33,459,222,...,159,493,405,253,46,278,297,203,104,455
8,415,410,156,101,497,44,127,391,127,389,...,305,162,250,458,226,290,38,472,387,92
9,407,122,51,472,70,443,42,211,23,140,...,359,422,145,208,322,433,359,173,260,233
10,419,464,411,81,440,315,355,231,192,480,...,130,263,436,69,83,13,393,365,34,306

## 2. Calculate the sum of each row; the sum of each column; and the sum of all entries.

In [4]:
## loop that sums all 10 rows.

for i,j in enumerate(df.sum(axis=1), start = 1):
    print("Row {:>2} Sum: {}".format(i, j))

Row  1 Sum: 11921
Row  2 Sum: 13325
Row  3 Sum: 14763
Row  4 Sum: 11307
Row  5 Sum: 12750
Row  6 Sum: 11501
Row  7 Sum: 13053
Row  8 Sum: 12436
Row  9 Sum: 10740
Row 10 Sum: 12329

**b the sum of each column**

In [5]:
## loop that sums all 10 columns.

for i,j in enumerate(df.sum(axis=0), start = 1):
    print("Column {:>2} Sum: {}".format(i,j))

Column  1 Sum: 3275
Column  2 Sum: 2715
Column  3 Sum: 2308
Column  4 Sum: 2455
Column  5 Sum: 2449
Column  6 Sum: 2866
Column  7 Sum: 2128
Column  8 Sum: 1996
Column  9 Sum: 2642
Column 10 Sum: 2534
Column 11 Sum: 3144
Column 12 Sum: 1730
Column 13 Sum: 1726
Column 14 Sum: 2287
Column 15 Sum: 2240
Column 16 Sum: 2708
Column 17 Sum: 2379
Column 18 Sum: 2603
Column 19 Sum: 2654
Column 20 Sum: 2573
Column 21 Sum: 2021
Column 22 Sum: 2556
Column 23 Sum: 2144
Column 24 Sum: 3233
Column 25 Sum: 2199
Column 26 Sum: 2509
Column 27 Sum: 1972
Column 28 Sum: 2387
Column 29 Sum: 1939
Column 30 Sum: 2192
Column 31 Sum: 3021
Column 32 Sum: 2616
Column 33 Sum: 2583
Column 34 Sum: 2325
Column 35 Sum: 3168
Column 36 Sum: 2414
Column 37 Sum: 2541
Column 38 Sum: 2505
Column 39 Sum: 2799
Column 40 Sum: 2280
Column 41 Sum: 2426
Column 42 Sum: 2300
Column 43 Sum: 3489
Column 44 Sum: 2246
Column 45 Sum: 2041
Column 46 Sum: 2854
Column 47 Sum: 2453
Column 48 Sum: 2522
Column 49 Sum: 2521
Column 50 Sum: 2457

**c and the sum of all entries**

In [6]:
## Using df.values.sum() to sum all the values in the dataframe

print("Total Sum: {}".format(df.values.sum()))

Total Sum: 124125

## 3. Determine the minimum; maximum; average; and standard deviation of all entries.

In [7]:
## Using df.values.max() will give the largest value in the dataframe

df.values.max()

500

In [8]:
## Using df.values.min() will give the  smallest value in the dataframe

df.values.min()

1

In [9]:
## Using df.values.mean() will give the mean in the dataframe

df.values.mean()

248.25

In [10]:
## Using df.values.std() will give the standard deviation in the dataframe

df.values.std()

147.39846505306627

## 4. Sort the DataFrame: a) sort on column 2; b) sort on row 2.

In [11]:
## Making copies of the first dataframe for the different sorts.

by_row = df.copy()
by_col = df.copy()
by_row_2 = df.copy()
by_col_2 = df.copy()

#### Sorting lowest value to highest value

In [12]:
# Lowest values start at top of the dataframe and the largest values are at the bottom
by_row.values.sort(axis = 0)
by_row

,1,2,3,4,5,6,7,8,9,10,...,41,42,43,44,45,46,47,48,49,50
1,50,49,51,81,60,44,31,11,23,29,...,1,12,145,1,46,13,38,6,3,20
2,162,54,72,101,70,121,42,24,84,40,...,130,30,250,4,58,138,75,41,34,63
3,243,122,134,130,71,150,58,33,127,140,...,159,113,251,69,83,215,97,139,104,92
4,266,164,156,156,121,150,127,125,147,187,...,162,162,330,76,162,278,239,173,260,189
5,404,240,183,174,159,315,214,208,192,222,...,164,182,337,208,207,279,281,203,261,233
6,407,360,190,189,176,336,284,211,260,266,...,234,263,398,253,214,290,297,266,303,290
7,413,378,316,196,378,406,323,231,431,321,...,305,309,405,382,226,329,327,365,304,306
8,415,410,366,472,440,442,346,334,432,389,...,359,314,436,391,308,381,347,425,387,368
9,419,464,411,477,477,443,348,391,459,460,...,436,422,459,404,322,433,359,432,427,441
10,496,474,429,479,497,459,355,428,487,480,...,476,493,478,458,415,498,393,472,438,455

#### Sorting lowest value to highest value

In [13]:
# Lowest values start at left of the dataframe and the largest values are at the right
by_col.values.sort(axis = 1)
by_col

,1,2,3,4,5,6,7,8,9,10,...,41,42,43,44,45,46,47,48,49,50
1,5,12,18,29,58,63,65,71,75,84,...,404,446,453,455,470,471,472,477,477,489
2,3,11,16,31,76,77,97,98,119,129,...,436,439,459,460,474,480,481,487,490,498
3,30,41,54,58,75,79,87,97,97,98,...,439,440,441,442,456,476,478,487,496,500
4,1,12,21,35,35,40,49,58,61,71,...,391,413,425,425,432,436,438,459,478,498
5,1,6,10,58,71,72,73,120,125,140,...,364,398,411,424,432,438,446,454,467,479
6,1,4,6,14,20,20,20,24,66,71,...,398,404,432,446,448,450,460,467,489,498
7,14,33,46,50,60,76,98,104,124,130,...,406,412,442,453,455,459,459,463,480,493
8,12,14,30,33,38,44,55,58,92,93,...,410,415,436,437,458,459,472,489,492,497
9,18,23,36,42,48,51,70,80,84,98,...,394,407,412,417,422,433,443,453,455,472
10,13,23,23,30,34,60,63,69,81,83,...,436,438,440,462,464,478,480,489,497,499

In [14]:
 # Retains the relative position of all the points while sorting the rows by row 2s contents
by_row_2.sort_values(axis = 0, by = 2)

,1,2,3,4,5,6,7,8,9,10,...,41,42,43,44,45,46,47,48,49,50
4,413,49,134,174,121,459,58,334,432,40,...,162,12,330,391,162,329,347,425,438,290
3,496,54,429,189,378,442,323,428,431,321,...,476,30,478,382,308,279,97,41,427,441
9,407,122,51,472,70,443,42,211,23,140,...,359,422,145,208,322,433,359,173,260,233
6,404,164,183,130,159,121,348,24,147,266,...,1,314,251,4,214,138,327,6,304,20
5,266,240,72,479,71,336,214,208,260,187,...,234,182,398,1,58,215,281,432,261,189
1,162,360,366,477,477,150,284,125,84,29,...,164,113,337,404,207,381,75,139,303,63
7,50,378,316,196,60,406,346,33,459,222,...,159,493,405,253,46,278,297,203,104,455
8,415,410,156,101,497,44,127,391,127,389,...,305,162,250,458,226,290,38,472,387,92
10,419,464,411,81,440,315,355,231,192,480,...,130,263,436,69,83,13,393,365,34,306
2,243,474,190,156,176,150,31,11,487,460,...,436,309,459,76,415,498,239,266,3,368

#### Sorting all values in the dataframe based on the contents of column 2.

In [15]:
# Retains the relative position of all the points while sorting the columns by column 2s contents
by_col_2.sort_values(axis = 1, by = 2)

,49,8,12,7,44,40,11,22,14,15,...,41,33,43,10,2,26,39,9,31,46
1,303,125,97,284,404,313,471,446,142,318,...,164,360,337,29,360,126,120,84,167,381
2,3,11,16,31,76,77,97,98,119,129,...,436,439,459,460,474,480,481,487,490,498
3,427,428,79,323,382,402,130,407,173,426,...,476,397,478,321,54,439,316,431,487,279
4,438,334,191,58,391,1,124,282,194,61,...,162,95,330,40,49,245,436,432,163,329
5,261,208,228,214,1,170,446,361,185,363,...,234,338,398,187,240,150,120,260,438,215
6,304,24,229,348,4,280,448,356,498,398,...,1,71,251,266,164,316,326,147,251,138
7,104,33,305,346,253,135,124,178,134,14,...,159,205,405,222,378,220,285,459,459,278
8,387,391,132,127,458,436,489,288,314,55,...,305,169,250,389,410,33,492,127,12,290
9,260,211,168,42,208,238,455,48,394,453,...,359,338,145,140,122,417,84,23,116,433
10,34,231,285,355,69,228,360,92,134,23,...,130,171,436,480,464,83,139,192,438,13